* {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

body {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6, .uk-panel-title {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-transform: uppercase;
    text-shadow: rgba(128, 128, 128, 0.33) 1px 1px 6px; 
}

.user-content {
    font-family: 'Open Sans', sans-serif;
}

.breadcrumbs a {
    text-transform: lowercase;
}

.btn {
    text-transform: lowercase;
}

header a {
    text-transform: uppercase;
}

nav.breadcrumbs {
    margin-top: 1em;
}

nav.breadcrumbs [aria-current="page"] {
	color: #333;
	font-weight: 300;
}