{% extends 'base.html' %} {% block content %}

<!-- BREADCRUMB WIDGET -->
<ul class="uk-breadcrumb">
    <li><a href="{{ url_for('get_categories') }}">Categories</a></li>
    <li><a href="{{ url_for('get_category_by_id',category_id=category.id) }}">{{category.name}}</a></li>
    <li><a href="{{ url_for('get_item_by_id', category_id=category.id, item_id=item.id) }}">{{item.title}}</a></li>
    <li class="uk-active"><a href="{{ url_for('delete_item_by_id', category_id=category.id, item_id=item.id) }}">delete item</a></li>
</ul>

<h1> Are you sure you want to delete {{item.title}}? </h1>

<form action="{{ url_for('delete_item_by_id', category_id=item.category_id, item_id=item.id)}}" method='post'>

    <input type='submit' value='delete'>

</form>

<a href="{{ url_for('get_item_by_id', category_id=category.id, item_id=item.id) }}">cancel</a>

{% endblock %}

